#1@com.trip.fltdata.poc.o_orders@o_orders@UNAME
#1@com.trip.fltdata.poc.o_flight@o_flight@UNAME
#1@com.ca.poc.PASSENGER@PASSENGER@MOBILEPHONE@9003
#1@com.ca.poc.T_FRN_USERPROFILE@T_FRN_USERPROFILE@9002
1@com.ca.poc.PASSENGER@PASSENGER@data_b2c_passenger@9003
1@com.ca.poc.T_FRN_USERPROFILE@T_FRN_USERPROFILE@data_b2c_t_frn_userprofile@9002
